<div class="container admin_form">
  <h1>Edit Store</h1>
  <div class="row">
    <div class="col-lg-5">
      <div class="form">
        <ul>
          <%= form_for @store, url: store_path(@store), method: "PUT" do |f| %>
          <li><%= f.text_field :name, placeholder: "Store Name"  %></li>
          <li><%= f.text_field :description, placeholder: "Store description" %></li>
          <li><%= f.label "Upload an Image"%></li>
          <li><%= f.file_field :image %></li>
          <li><%= f.submit "Update Store", class: "btn" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
