Hi <%= @order.user.name %>!

<p>You have successfully placed an order with Phonatic.</p>
<p>Please find the details of order below.</p>

<p>Thanks,</p>
<p>The Phonatic Dev Team</p>

<h1>Order Information</h1>

<h3>Purchaser: <%= @order.user.name %> - email: <%= @order.user.email %></h3>
  <h4>ordered: <%= @order.date_of_order(@order.created_at) %></h4>
    <h4>Current Status: <%= @order.show_status %></h4>

<table>
  <tr>
    <td>Photo Name</td>
    <td>Photo Price</td>
    <td>Photo Link</td>
    <td>Photo Subtotal</td>
  </tr>
  <% @order.photos.each do |photo| %>
  <tr>
    <td><%= photo.title %></td>
    <td><%= number_to_currency(photo.price / 100.00) %></td>
    <td><%= photo.image.url %></td>
  </tr>
  <% end %>
  <tr>
    <td>Order Total - <%= number_to_currency(@order.total.to_f/100.000) %> </td>
  </tr>
</table><br><br>
