  <div class="row">
    <div class="col-lg-5">
      <div class="form">
      <ul>
        <%= form_for(@user, url: user_path, html: {multipart: true}) do |f| %>
          <li><%= f.text_field :name, placeholder: "Name" %></li>
          <li><%= f.text_field :username, placeholder: "Username" %></li>
          <li><%= f.text_field :email, placeholder: "Email" %></li>
          <li><%= f.password_field :password, placeholder: "Password" %></li>
          <li><%= f.password_field :password_confirmation, placeholder: "Password confirmation" %></li>
          <li><%= f.label :picture, "Attach a Picture" %></li>
          <li><%= f.file_field :picture %></li>
          <li><%= f.submit class: "btn_small" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
