<div class="form">
  <%= form_for([:admin, @photo]) do |f| %>
    <div><%= f.text_field :title, placeholder: "Photo title"  %><br></div><br>
    <div><%= f.text_field :description, placeholder: "Photo description" %><br></div><br>
    <div><%= f.text_field :price, placeholder: "Price" %><br></div><br>
    <div><%= f.label "Upload an Image"%><br></div><br>
    <div><%= f.file_field :image %><br></div><br>
    <div><%= f.submit "Submit Photo", class: "btn" %></div><br>
  <% end %>
</div>