<div class="container admin_form">
  <h1>New Photo</h1>
  <div class="row">
    <div class="col-lg-5">
      <div class="form">
        <ul>
          <%= form_for @photo, url: store_admin_photos_path do |f| %>
          <li><%= f.text_field :title, placeholder: "Photo title"  %></li>
          <li><%= f.text_field :description, placeholder: "Photo description" %></li>
          <li><%= f.text_field :price, placeholder: "Price" %></li>
          <li><%= f.label "Upload an Image"%></li>
          <li><%= f.file_field :image %></li>
          <li><%= f.submit "Submit Photo", class: "btn" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>