<div class="row">
  <div class="col-lg-6 display_image">
  <%= image_tag @photo.image %>
  </div>
  <div class="col-lg-6">
    <div class="thumbnail">
      <div class="caption">
        <h2><%= @photo.title %></h2>
        <p><%= @photo.description %></p>
        <p><%= number_to_currency(@photo.price.to_f / 100.00) %></p>
        <p><%= link_to "Edit Photo", edit_store_admin_photo_path(current_store, @photo) %></p>
      </div>
    </div>
  </div>
</div>