<div class="confirmation">
  <h2>Confirm Order</h2>
  <table border = 2px >
    <tr>
      <td>Photo</td>
      <td>Store</td>
      <td>Price</td>
    </tr>
  <% @photos.each do |photo| %>
    <tr>
      <td><%= photo.title %></td>
      <td><%= photo.store.name %></td>
      <td><%= number_to_currency(photo.price.to_f / 100.00) %></td>
    </tr>
  <% end %>
    <tfoot>
      <tr>
        <td>Total</td>
        <td><%= number_to_currency(@cart.total.to_f / 100.00) %></td>
      </tr>
    </tfoot>
  </table>
  <%= button_to "Confirm Order", orders_path(order: { user_id: current_user.id, subtotal: @cart.total }), class: "btn_small" %>
</div>
