
<div class="photo-show">
    <div class="thumbnail">
      <%= image_tag @photo.image.url(:thumb) %>
      <div class="caption">
        <h2><%= @photo.title %></h2>
        <p><%= @photo.description %></p>
        <p><%= number_to_currency(@photo.price.to_f / 100.00) %></p>
        <%= button_to "Add To Cart", checkout_path(photo_id: @photo.id), method: :post %>
      </div>
    </div>
</div>
