<h1>New Store Admin</h1>
<%= form_for @user, url: store_admin_index_path(store: current_store), method: "POST" do |f| %>
  <div class="field"><p><%= f.text_field :name, placeholder: "Name" %></p></div><br>
  <div class="field"><p><%= f.text_field :username, placeholder: "Username" %></p></div><br>
  <div class="field"><p><%= f.text_field :email, placeholder: "Email" %></p></div><br>
  <div class="field"><p><%= f.hidden_field :password, value: 'password' %></p></div><br>
  <div class="field"><p><%= f.hidden_field :password_confirmation, value: 'password' %></p></div><br>
  <div class="field"><p><%= f.label :picture, "Attach a Picture" %></p></div><br>
  <div class="field"><p><%= f.file_field :picture %></p></div><br>
  <div class="field"><p><%= f.submit "Create Store Admin" %></p></div><br>
<% end %>
