<div class="container-fluid">
<h1><%= current_store.name %> Admin Dashboard</h1>
<h3>Welcome <%= current_user.name %>!</h3>
  <div class="row">
    <div class="col-md-2">
      <%= image_tag current_store.image.url, class: "display_image_small" %>
    </div>
    <div class="col-md-4">
      <div>
      <ul>
        <li><%= link_to "All Photos", store_admin_photos_path, class: "btn" %></li>
        <li><%= link_to "Add New Photo", new_store_admin_photo_path, class: "btn" %></li>
        <li><%= link_to "Edit Store Info", edit_store_path(current_user.store), class: "btn" %></li>
      </ul>
      </div>
    </div>
  </div>
</div>