<!DOCTYPE html>
<html>
<head>
  <title>Phonatics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => 'layouts/nav' %>

  <div class="container-fluid footer-height">
  <div class="flashes">
    <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  </div>

  <%= yield %>

  </div>

  <div id="footer">
    <div class="container"><br><br>
      <p class="footer_text"></p>
    </div>
  </div>
</body>
</html>
